{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<!-- Content -->
<div class="container">
  <div class="row margin-bottom-50">
    <div class="col-md-12">
      <div class="produits">
        <div><img src="{{ asset('images/single-property-02.jpg') }}" alt=""></div>
        <div><img src="{{ asset('images/single-property-02.jpg') }}" alt=""></div>
        <div><img src="{{ asset('images/single-property-03.jpg') }}" alt=""></div>
        <div><img src="{{ asset('images/single-property-04.jpg') }}" alt=""></div>
        <div><img src="{{ asset('images/single-property-05.jpg') }}" alt=""></div>
        <div><img src="{{ asset('images/single-property-06.jpg') }}" alt=""></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <!-- Property Description -->
    <div class="col-lg-8 col-md-7">
      <!-- Titlebar -->
      <div id="titlebar-dtl-item" class="property-titlebar margin-bottom-0">
        <div class="property-title">
          <div class="property-pricing">- {{ product.Discount }} %</div>
          <h2>{{ product.Title }}</h2>
          <span class="utf-listing-address"><i class="icon-material-outline-location-on"></i>
            {{ product.users.Address }} {{ product.users.CodePost }} {{ product.users.City }}
            Angeles 90015</span>
        </div>
      </div>

      <div class="property-description">
        <!-- Description -->
        <div class="utf-desc-headline-item">
          <h3><i class="icon-material-outline-description"></i> Property Description</h3>
        </div>
        <div class="show-more">
          <p>{{ product.LongDescription }}</p>
          <a href="#" class="show-more-button">Voir plus... <i class="sl sl-icon-plus"></i></a>
        </div>

        <!-- Details -->
        <div class="utf-desc-headline-item">
          <h3><i class="sl sl-icon-briefcase"></i> Property Details</h3>
        </div>
        <ul class="property-features margin-top-0">
          <li>Property ID: <span>HP1714</span></li>
          <li>Price: <span>$180,000</span></li>
          <li>Property Size: <span>1480 Sq Ft</span></li>
          <li>Year Built: <span>15 Jan, 2010</span></li>
          <li>Bedrooms: <span>4</span></li>
          <li>Bathrooms: <span>3</span></li>
          <li>Garage: <span>3</span></li>
          <li>Garage Size: <span>200 Sq Ft</span></li>
          <li>Property Type: <span>Apartment</span></li>
          <li>Property Status: <span>For Sale</span></li>
        </ul>

        <!-- Details -->
        <div class="utf-desc-headline-item">
          <h3><i class="icon-material-outline-business"></i> Additional Details</h3>
        </div>
        <ul class="property-features margin-top-0">
          <li>Deposit: <span>28%</span></li>
          <li>Pool Size: <span>300 Sq Ft</span></li>
          <li>Additional Rooms: <span>Guest Bath</span></li>
          <li>Last Remodel Year: <span>2010</span></li>
          <li>Amenities: <span>Clubhouse</span></li>
          <li>Equipment: <span>Grill - Gas</span></li>
        </ul>

        <!-- Features -->
        <div class="utf-desc-headline-item">
          <h3><i class="sl sl-icon-briefcase"></i> Services de livraison</h3>
        </div>
        <ul class="property-features checkboxes margin-top-0">
          <li>Air Conditioning</li>
          <li>Barbeque</li>
          <li>Dryer</li>
          <li>Gym</li>
          <li>Laundry</li>
          <li>Lawn</li>
          <li>Microwave</li>
          <li>Outdoor Shower</li>
          <li>Refrigerator</li>
          <li>Sauna</li>
          <li>Swimming Pool</li>
          <li>TV Cable</li>
          <li>Washer</li>
          <li>WiFi</li>
          <li>Window Coverings</li>
        </ul>

        <!-- Floorplans -->
        <div class="utf-desc-headline-item">
          <h3><i class="icon-line-awesome-paper-plane"></i> Property Floor Plans</h3>
        </div>
        <!-- Accordion -->
        <div class="style-1 fp-accordion">
          <div class="accordion">
            <h3>First Floor <span>Size: <strong>1280 Sqft</strong></span> <span>Rooms: <strong>650 Sqft</strong></span>
              <span>Baths: <strong>500 Sqft</strong></span> <span>Price: <strong>$15,000</strong></span> <i
                class="sl sl-icon-plus"></i>
            </h3>
            <div>
              <a class="floor-pic mfp-image" href="{{ asset('images/floor_plan_1.jpg') }}"> <img
                  src="{{ asset('images/floor_plan_1.jpg') }}" alt=""> </a>
              <p>Plan description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
            <h3>Second Floor <span>Size: <strong>1280 Sqft</strong></span> <span>Rooms: <strong>650 Sqft</strong></span>
              <span>Baths: <strong>500 Sqft</strong></span> <span>Price: <strong>$15,000</strong></span> <i
                class="sl sl-icon-plus"></i>
            </h3>
            <div>
              <a class="floor-pic mfp-image" href="{{ asset('images/floor_plan_2.jpg') }}"> <img
                  src="{{ asset('images/floor_plan_2.jpg') }}" alt=""> </a>
              <p>Plan description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <!-- Location -->
        <div class="utf-desc-headline-item">
          <h3><i class="icon-material-outline-location-on"></i> Property Location</h3>
        </div>
        <div id="propertyMap-container">
          <div id="propertyMap" data-latitude="48.8566" data-longitude="2.3522" data-map-icon="im im-icon-Hamburger">
          </div>
          <a href="#" id="streetView">Street View</a>
        </div>
      </div>
    </div>
    <!-- Property Description / End -->

    <!-- Sidebar -->
    <div class="col-lg-4 col-md-5">
      <div class="sidebar">
        <div class="widget utf-sidebar-widget-item">
          <div class="utf-detail-banner-add-section">
            <a href="#"><img src="{{ asset('images/banner-add-2.jpg') }}" alt="banner-add-2"></a>
          </div>
        </div>

        {% include 'site/product/mignature/open_hours.html.twig' %}

        <!-- Widget -->
        <div class="widget utf-sidebar-widget-item">
          <div class="utf-boxed-list-headline-item">
            <h3>Property Details</h3>
          </div>
          <button class="widget-button with-tip" data-tip-content="Share Property"><i
              class="sl sl-icon-share"></i></button>
          <button class="widget-button with-tip" data-tip-content="Bookmark Property"><i
              class="fa fa-heart"></i></button>
          <button class="widget-button with-tip compare-widget-button" data-tip-content="Add to Compare"></button>
          <button class="widget-button with-tip" data-tip-content="Property Location"><i
              class="sl sl-icon-map"></i></button>
          <button class="widget-button with-tip" data-tip-content="Print Property"><i
              class="sl sl-icon-printer"></i></button>
          <div class="clearfix"></div>
        </div>
        <!-- Widget / End -->

        <!-- Widget -->
        <div class="widget utf-sidebar-widget-item">
          <div class="agent-widget">
            <div class="utf-boxed-list-headline-item">
              <h3>Listed By Agents Details</h3>
            </div>
            <div class="agent-title">
              <div class="agent-photo"><img src="{{ asset('images/agent-avatar.jpg') }}" alt="" /></div>
              <div class="agent-details">
                <h4><a href="#">John Williams</a></h4>
                <span>(+21) 124 123 4546</span>
                <span>demo@example.com</span>
                <span><a href="agents-profile.html">View My Listing</a></span>
              </div>
              <div class="clearfix"></div>
            </div>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Phone">
            <textarea>I'm interest in [ Listing Single ]</textarea>
            <button class="button fullwidth margin-top-5">Send Message</button>
          </div>
        </div>
        <!-- Widget / End -->
      </div>
    </div>
    <!-- Sidebar / End -->
  </div>
</div>
{% endblock %}