
{% extends 'base.html.twig' %}

{% block title %}Crée annonce{% endblock %}

{% block body %}


    <div class="container margin-top-25">
        <div class="row">
            <div class="col-md-12">
                <style>
                    #breadcrumbs ul li:before{
                        border-left: 5px solid #a3a3a3 !important;
                    }
                </style>
                <nav id="breadcrumbs" style="left: 0px;right: unset;">
                    <ul>
                        <li><a href="{{ path('site_home_page') }}">Home</a></li>
                        <li>Annonce</li>
                    </ul>
                </nav>

                <h2 style="float: right;">OFFRE</h2>
            </div>
        </div>


        <section>
            <div class="block">
                <div class="container">
                    <div class="heading margin-bottom-20">
                        <h2>Buy Our Plans And Packeges</h2>
                        <span>One of our jobs has some kind of flexibility option - such as telecommuting, a part-time schedule or a flexible or flextime schedule.</span>
                    </div>

                    <form method="post">
                        <div class="row">
                            <div class="utf-pricing-container-area margin-top-5">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="plan">
                                        <div class="utf-plan-price utf-smt-premium">
                                            <h3>Premium</h3>
                                            {% if minPP %}
                                                <span class="value">{{ minPP.pricePerDay|number_format(2,'.',',') }} Frs<sub>/Par jour</sub></span>
                                                <span class="period">
                                                    Rebais de -{{ packsPremium[1] is defined ? packsPremium[1].percentTemporaire : 0 }}%
                                                    {% if packsPremium|length > 1 %}
                                                    {{ 'à -'~(packsPremium|last).percentTemporaire~'%' }}
                                                    {% endif %}
                                                    sur votre commande profitez
                                                </span>
                                            {% else %}
                                                <a class="text-red px-3">Non disponible</a>
                                            {% endif %}
                                        </div>
                                        <div class="utf-plan-features">
                                            <ul>
                                                <li>Mise en avant dans les newsleter </li>
                                                <li>Top sur le moteur de recherche</li>
                                                <li>Première page du site ZIMBOO</li>
                                                <li>Booster par la visibilité</li>
                                                <li>Top catégorie première page</li>
                                                <li>Lien sur votre site (gratuit)</li>
                                                <li>Logo, Horaires, Liens externe, </li>
                                                <li>
                                                    <a href="" style="color: blue">En savoir plus</a>
                                                </li>
                                            </ul>
                                            <div class="input-group mb-3 px-3">
                                                <select  name="packPremium" class="form-select text-end" aria-label="Default select example">
                                                    {% for pack in packsPremium %}
                                                        <option {{ Announcement.packageAdTextual and  Announcement.packageAdTextual.id == pack.id ? 'selected' : '' }} value="{{ pack.id }}">
                                                            {{ pack.nbrDays }} jours {{ (pack.nbrDays * pack.pricePerDay)|number_format(2,'.',',') }}
                                                            {{ pack.percentTemporaire ? 'économisez -'~pack.percentTemporaire~'%' : '' }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="submit" name="PREMIUM" class="button border">Choisir</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="plan">
                                        <div class="utf-plan-price utf-smt-gold">
                                            <h3>Gold</h3>
                                            {% if minGP %}
                                                <span class="value">{{ minGP.pricePerDay|number_format(2,'.',',') }} Frs<sub>/Par jour</sub></span>
                                                <span class="period">
                                                    Rebais de -{{ packsGold[1] is defined ? packsGold[1].percentTemporaire : 0 }}%
                                                    {% if packsGold|length > 1 %}
                                                        {{ 'à -'~(packsGold|last).percentTemporaire~'%' }}
                                                    {% endif %}
                                                    sur votre commande profitez
                                                </span>
                                            {% else %}
                                                <a class="text-red px-3">Non disponible</a>
                                            {% endif %}
                                        </div>
                                        <div class="utf-plan-features">
                                            <ul>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li>Booster par la visibilité</li>
                                                <li><b>Premier</b> dans votre catégorie</li>
                                                <li>Lien sur votre site (gratuit)</li>
                                                <li>Logo, Horaires, Liens externe, </li>
                                                <li>
                                                    <a href="" style="color: blue">En savoir plus</a>
                                                </li>

                                            </ul>
                                            <select name="packGold" class="form-select text-end" aria-label="Default select example">
                                                {% for pack in packsGold %}
                                                    <option {{ Announcement.packageAdTextual and Announcement.packageAdTextual.id == pack.id ? 'selected' : '' }} value="{{ pack.id }}">
                                                        {{ pack.nbrDays }} jours {{ (pack.nbrDays * pack.pricePerDay)|number_format(2,'.',',') }}
                                                        {{ pack.percentTemporaire ? 'économisez -'~pack.percentTemporaire~'%' : '' }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <button type="submit" name="GOLD" class="button border">Choisir</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="plan featured">
                                        <div class="utf-plan-price utf-smt-silver">
                                            <h3>Silver</h3>
                                            {% if minSP %}
                                                <span class="value">{{ minSP.pricePerDay|number_format(2,'.',',') }} Frs<sub>/Par jour</sub></span>
                                                <span class="period">
                                                    Rebais de -{{ packsSilver[1] is defined ? packsSilver[1].percentTemporaire : 0 }}%
                                                    {% if packsSilver|length > 1 %}
                                                        {{ 'à -'~(packsSilver|last).percentTemporaire~'%' }}
                                                    {% endif %}
                                                    sur votre commande profitez
                                                </span>
                                            {% else %}
                                                <a class="text-red px-3">Non disponible</a>
                                            {% endif %}
                                        </div>
                                        <div class="utf-plan-features">
                                            <ul>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li>Booster par la visibilité</li>
                                                <li><b>2ème</b> page dans votre catégorie</li>
                                                <li>Lien sur votre site (gratuit)</li>
                                                <li>Logo, Horaires, Liens externe, </li>
                                                <li>
                                                    <a href="" style="color: blue">En savoir plus</a>
                                                </li>
                                            </ul>
                                            <select name="packSILVER" class="form-select text-end" aria-label="Default select example">
                                                {% for pack in packsSilver %}
                                                    <option {{ Announcement.packageAdTextual and Announcement.packageAdTextual.id == pack.id ? 'selected' : '' }} value="{{ pack.id }}">
                                                        {{ pack.nbrDays }} jours {{ (pack.nbrDays * pack.pricePerDay)|number_format(2,'.',',') }}
                                                        {{ pack.percentTemporaire ? 'économisez -'~pack.percentTemporaire~'%' : '' }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <button type="submit" name="SILVER" class="button border">Choisir</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="plan">
                                        <div class="utf-plan-price utf-smt-gratuit">
                                            <h3>Gratuit</h3>
                                            <span class="value">PROFITTEZ</span> <span class="period">Votre annonce gratuite pour 21 jours avec avantages</span>
                                        </div>
                                        <div class="utf-plan-features">
                                            <ul>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li>Lien sur votre site (gratuit)</li>
                                                <li>Logo, Horaires, Liens externe, </li>
                                                <li>
                                                    <a href="" style="color: blue">En savoir plus</a>
                                                </li>
                                            </ul>
                                            <div class="alert bg-dark-orange text-white mx-0 my-0 p-2" style="height: 51px;margin-bottom: 16px" role="alert">
                                                <h5 class="m-0 p-0"></h5>
                                            </div>
                                            <button type="submit" name="GRATUIT" class="button border">Choisir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <!-- Row / End -->
                    <style>
                        .utf-plan-features ul li{
                            min-height: 44px;
                        }
                        .utf-smt-premium{
                            background: #092d6e;
                        }
                        .utf-smt-gold{
                            background: #b17a15;
                        }
                        .utf-smt-silver{
                            background: #83807a !important;
                        }
                        .utf-smt-gratuit{
                            background: #a71708;
                        }
                    </style>
                </div>
            </div>
        </section>

    </div>

{% endblock %}