{% extends 'base.html.twig' %}

{% block title %}Crée annonce{% endblock %}

{% block body %}

<div class="container margin-top-25">
    <div class="row">
        <div class="col-md-12">
            <style>
                #breadcrumbs ul li:before{
                    border-left: 5px solid #a3a3a3 !important;
                }
            </style>
            <nav id="breadcrumbs" style="left: 0px;right: unset;">
                <ul>
                    <li><a href="{{ path('site_home_page') }}">Home</a></li>
                    <li>Annonce</li>
                </ul>
            </nav>

            <h2 style="float: right;">Crée une annonce</h2>
        </div>
    </div>
    <div class="row">
        {% include 'users/_partial/menu.html.twig' %}
        <!-- Submit Page -->
        <div class="col-md-6">
            <div class="submit-page">
                {{ form_start(form) }}
                <!-- Section -->
                <div class="utf-submit-page-inner-box">
                    <h3>Passez votre annonce en 4 étapes.</h3>
                    <div class="content with-padding">
                        <div class="pos-relative margin-4 margin-bottom-35">
                            <div class="progress" style="height: 2px;">
                                <div class="progress-bar bg-red w-25"></div>
                            </div>
                            <button type="button" class="pos-absolute topb-0 start-0 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">0
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-25 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">1
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-50 translate-middle btnz btn-sm btn-secondary rounded-pill text-white" style="width: 3rem; height:3rem;">2
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-75 translate-middle btnz btn-sm btn-secondary rounded-pill text-white" style="width: 3rem; height:3rem;">3
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-100 translate-middle btnz btn-sm btn-secondary rounded-pill text-white" style="width: 3rem; height:3rem;">4
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h5>Catégorie</h5>
                                {{ form_widget(form.Category) }}
                            </div>

                            <div class="col-md-6">
                                <h5>Sous Catégorie</h5>
                                {{ form_widget(form.subCategory) }}

                            </div>

                            <div class="col-md-12">
                                <h5 class="promoTitle">Votre promotion en texte <span class="promotitle">{{ form_widget(form.promoTitle) }}</span></h5>
                                <div class="select-input disabled-first-option">
                                    {{ form_widget(form.Title) }}
                                </div>
                            </div>

                            <div class="col-md-8">
                                <h5>Votre promotion en texte avec un %</h5>
                                <div class="select-input disabled-first-option">
                                    {{ form_widget(form.titlediscount) }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h5>Promo</h5>
                                <div class="select-input disabled-first-option">
                                    {{ form_widget(form.Discount) }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h5>Petit texte de présentation</h5>
                                <div class="select-input disabled-first-option">
                                    {{ form_widget(form.ShortDescription) }}
                                    <span id="span_adtextual_shortdescription" style="position: absolute;bottom: 4px;right: 10px;">0/100</span>
                                </div>
                            </div>
                        </div>

                        <div class="pos-relative margin-4 margin-bottom-35">
                            <div class="progress" style="height: 2px;">
                                <div class="progress-bar bg-red w-50"></div>
                            </div>
                            <button type="button" class="pos-absolute topb-0 start-0 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">0
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-25 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">1
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-50 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">2
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-75 translate-middle btnz btn-sm btn-secondary rounded-pill text-white" style="width: 3rem; height:3rem;">3
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-100 translate-middle btnz btn-sm btn-secondary rounded-pill text-white" style="width: 3rem; height:3rem;">4
                            </button>
                        </div>

                        <div class="row margin-bottom-35">
                            <div class="col-md-12">
                                <div class="select-input disabled-first-option">
                                    {{ form_widget(form.LongDescription) }}
                                </div>
                            </div>
                        </div>

                        <div class="pos-relative margin-4 margin-bottom-35">
                            <div class="progress" style="height: 2px;">
                                <div class="progress-bar bg-red w-75"></div>
                            </div>
                            <button type="button" class="pos-absolute topb-0 start-0 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">0
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-25 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">1
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-50 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">2
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-75 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">3
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-100 translate-middle btnz btn-sm btn-secondary rounded-pill text-white" style="width: 3rem; height:3rem;">4
                            </button>
                        </div>
                        <div class="row margin-bottom-25" style="padding: 15px;">
                            <div class="col-md-12 dropzone-container">
                                <label class="filebutton">
                                    Déposez ici!
                                    <img src="{{ asset('img/site/upload.png') }}" />
                                    <input type="file" class="dropzone" id="annonce_picture"/>
                                </label>
                            </div>
                            <div id="uploadedPictures" class="">
                                {% for picture in form.Picture.children %}
                                    {{ _self.macro_Picture(doc) }}
                                {% endfor %}
                            </div>

                            <div id="picturePrototype" data-prototype="{{ _self.macro_Picture(form.Picture.vars.prototype)|e }}"></div>
                        </div>
                        <div class="pos-relative margin-4 margin-bottom-35">
                            <div class="progress" style="height: 2px;">
                                <div class="progress-bar bg-red w-100p"></div>
                            </div>
                            <button type="button" class="pos-absolute topb-0 start-0 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">0
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-25 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">1
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-50 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">2
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-75 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">3
                            </button>
                            <button type="button" class="pos-absolute topb-0 start-100 translate-middle btnz btn-sm btn-red rounded-pill text-white" style="width: 3rem; height:3rem;">4
                            </button>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="utf-centered-button button">Suivant</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-md-3">

                <div class="utf-listing-item" style="border: 1px solid #b9b9b9;">
                    <a href=""
                       class="utf-smt-listing-img-container">
                        <div class="utf-listing-badges-item">

                        </div>
                        <div class="utf-listing-img-content-item">
                        </div>
                        <div class="utf-listing-carousel-item">
                            <div><img id="vignette-preview-img" src="http://via.placeholder.com/260x230" alt=""></div>
                        </div>
                    </a>
                    <div class="utf-listing-content">
                        <div class="utf-listing-title">
                            <span id="prev_adtextual_discount" class="utf-listing-price">
                                    14%
                            </span>
                            <h4>
                                <a id="prev_adtextual_titlead" class="oneline-text" href="">
                                    Lorem ipsum dolor sit
                                </a>
                            </h4>
                        </div>
                        <div class="utf-listing-features annoncement">
                            <p id="prev_adtextual_shortdescription" class="threelines-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis comm</p>
                        </div>
                        <div class="utf-listing-user-info text-center">
                            <a class="offer"
                               href="">
                                Voir l'offre</a>
                        </div>
                    </div>
                </div>

        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Crop Image Before Upload</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row p-2 d-flex justify-content-center align-items-center">
                            <div class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9">
                                <img src="" id="sample_image" class="crop-image"/>
                            </div>
                            <div class="col-5 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                                <div class="preview crop-image mx-auto " style="overflow: hidden;width: 160px;height: 160px;margin: 10px;border: 1px solid #ff7f04;"></div>
                            </div>
                        </div>

                        <div class="row margin-top-5" id="actions">

                            <div class="col-md-6 docs-buttons">
                                <div class="btn-group">
                                    <button id="rotateLeft" type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="rotate(-45)">
                                          <span class="fa fa-undo"></span>
                                        </span>
                                    </button>
                                    <button id="rotateRight" type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="rotate(45)">
                                          <span class="fa fa-repeat"></span>
                                        </span>
                                    </button>
                                    <button id="zoomIn" type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="zoom(0.1)">
                                          <span class="fa fa-search-plus"></span>
                                        </span>
                                    </button>
                                    <button id="zoomOut" type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                                        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="zoom(-0.1)">
                                          <span class="fa fa-search-minus"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button" data-dismiss="modal">Close</button>
                        <button type="button" class="button bg-green" id="crop">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% macro macro_Picture(picture) %}
    <div class="pictureEl col-md-3 margin-top-10">
        <img src="_img_" width="100" height="100" style="cursor: move;" />
        {{ form_widget(picture.imgBase64) }}
        {{ form_widget(picture.position) }}
        <a class="deleteMe"><i style="font-size: 18px;" class="fa fa-trash pr-2" aria-hidden="true"></i></a>
    </div>

{% endmacro %}

{% block javascript %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            var $ = jQuery.noConflict();
            $("#uploadedPictures").sortable({
                placeholder: "sortable-placeholder",
                opacity: 0.5,
                scrollSensitivity: 10,
                update: function( event, ui ) {
                    var i = 0;
                    $('.positionImg').each(function (){
                        if(i == 0)
                            $('#vignette-preview-img').attr('src',$(this).val());
                        $(this).val(i);
                        i++;
                    });
                }
            });
            $("#uploadedPictures").disableSelection();


            $('#submit_announcement_Category').change();

            $("input[name='submit_announcement[promoTitle]").on('change', function(){
                var prom = $("input[name='submit_announcement[promoTitle]']:checked").val();
                $('#prev_adtextual_discount').text(prom);
                verifyTitle();
            });
            $('#submit_announcement_Title').on('keyup keypress keydown', function(e) {
                verifyTitle();
            });
            function verifyTitle(){
                var title = $('#submit_announcement_Title').val();
                if(title !== "") {
                    $('#prev_adtextual_titlead').text(title);
                    $('#submit_announcement_titlediscount').val("");
                    $('#submit_announcement_Title').attr("required","required");
                    $('#submit_announcement_titlediscount').removeAttr("required");
                    $('#submit_announcement_Discount').removeAttr("required");
                    $('#submit_announcement_titlediscount').attr("disabled","true");
                    $('#submit_announcement_Discount').val("");
                    $('#submit_announcement_Discount').attr("disabled","true");
                    //$('#prev_adtextual_discount').fadeOut(1000,function (){});
                    var prom = $("input[name='submit_announcement[promoTitle]']:checked").val();
                    $('#prev_adtextual_discount').text(prom);

                }
                else {
                    $('#submit_announcement_titlediscount').removeAttr("disabled");
                    $('#submit_announcement_Discount').removeAttr("disabled");
                    $('#prev_adtextual_titlead').text("Lorem ipsum dolor sit");
                }
                $('#submit_announcement_Title').prev().text(title.toString().length + "/20");
            }


            function verifyTitleDisount(){
                var title = $('#submit_announcement_titlediscount').val();
                if(title !== "") {
                    $('#prev_adtextual_titlead').text(title);
                    $('#submit_announcement_Title').val("");
                    $('#submit_announcement_titlediscount').attr("required","required");
                    $('#submit_announcement_Discount').attr("required","required");
                    $('#submit_announcement_Title').attr("disabled","true");
                    $('#submit_announcement_Title').removeAttr("required");
                    $('.promotitle').find('input').each(function(){
                    $(this).attr("disabled","true");
                })
                }
                    else
                {
                    $('#submit_announcement_Title').removeAttr("disabled");
                    $('.promotitle').find('input').each(function(){
                    $(this).removeAttr("disabled");
                })
                    $('#prev_adtextual_titlead').text("Lorem ipsum dolor sit");
                }
                    $('#adtextual_titlediscount').prev().text(title.toString().length+"/20");
                var discount = $('#submit_announcement_Discount').val();
                if(discount !== "") {
                    if(parseInt(discount) <= 100) {
                        $('#prev_adtextual_discount').text("-" + discount + "%");
                        $('#prev_adtextual_discount').fadeIn(1000, function () {});
                    }
                }else
                    $('#prev_adtextual_discount').text("-50%");
                }
            $('#submit_announcement_titlediscount').on('keyup keypress keydown', function(e) {
                verifyTitleDisount();
            });
            $('#submit_announcement_Discount').on('keyup keypress keydown change', function(e) {
                verifyTitleDisount();
            });

            $('#submit_announcement_ShortDescription').on('keyup keypress keydown change', function(e) {
                var text = $('#submit_announcement_ShortDescription').val();
                if(text !== "")
                    $('#prev_adtextual_shortdescription').text(text);
                else
                    $('#prev_adtextual_shortdescription').text("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis comm...");

                $('#span_adtextual_shortdescription').text(text.toString().length+"/100");

            });
        });
        $(document).on('change','#submit_announcement_Category',function (){
        var $ = jQuery.noConflict();
        var category = $('#submit_announcement_Category').val();
        var subcategory = $('#submit_announcement_subCategory');
        subcategory.empty();
        subcategory.attr('disabled',true);
        subcategory.data('placeholder', 'Loading ...');

        $.ajax({
            url: '{{ path('load_subcategory') }}',
            data: {'category': category},
            type: 'POST',
            dataType: 'json',
                success: function (json) {
                    subcategory.empty();
                    subcategory.append('<option value="">Sélectionner une sous catégorie</option>');
                    if (json.length !== 0) {
                        $.each(json, function (index, value) {
                            subcategory.append('<option value="' + value.id + '">' + value.libelle + '</option>');
                        });
                    }
                    subcategory.attr('disabled',false);
                }
            });
        });


    var fileCount = '{{ form.Picture|length }}';

    function removeFile(ob)
    {
        ob.closest('.pictureEl').remove();
        fileCount--;
    }
    function createPicture(fileCount,img)
    {
        var j = jQuery.noConflict();
        // grab the prototype template
        var newWidget = j("#picturePrototype").attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        newWidget = newWidget.replace(/__name__/g, fileCount);
        newWidget = newWidget.replace(/_img_/g, img);

        j("#uploadedPictures").append( newWidget );

        //createAddFile(parseInt(fileCount)+1);
    }

    $(document).ready(function () {

      var crop = jQuery.noConflict();
      var $modal = crop('#modal');
      var image = document.getElementById('sample_image');
      var cropper;

      crop('#annonce_picture').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
          image.src = url;
          $modal.modal('show');
        };

        if (files && files.length > 0) {
          reader = new FileReader();
          reader.onload = function (event) {
            done(reader.result);
          };
          reader.readAsDataURL(files[0]);
        }
      });

      $modal.on('shown.bs.modal', function () {
        cropper = new Cropper(image, {
          aspectRatio: 1,
          viewMode: 2,
          preview: '.preview'
        });

      }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
      });
      crop('#zoomIn').click(function (){
          cropper.zoom(0.1);
      });
      crop('#zoomOut').click(function (){
          cropper.zoom(-0.1);
      });
      crop('#rotateRight').click(function (){
          cropper.rotate(45);
      });
      crop('#rotateLeft').click(function (){
          cropper.rotate(-45);
      });
      crop('#crop').click(function () {

        $modal.modal('hide');
        canvas = cropper.getCroppedCanvas({
          width: 400,
          height: 400
        });

        canvas.toBlob(function (blob) {
          url = URL.createObjectURL(blob);
          var reader = new FileReader();
          reader.readAsDataURL(blob);
          reader.onloadend = function () {
            var base64data = reader.result;
            createPicture(parseInt(fileCount),base64data);
            crop('#submit_announcement_Picture_'+fileCount+'_imgBase64').val(base64data);
            crop('#submit_announcement_Picture_'+fileCount+'_position').val(fileCount);

            if (fileCount == 0)
                crop('#vignette-preview-img').attr('src',base64data);
            fileCount ++;
          };
        });

      });

    });
    $(document).on('click','.deleteMe',function (){
        var j = jQuery.noConflict();
        j(this).closest('.pictureEl').remove();
    });


    </script>
{% endblock %}