{% extends 'base.html.twig' %}

{% block title %}Hello SubmitAnnouncementController!{% endblock %}

{% block body %}

<div class="parallax titlebar" data-background="{{ asset('images/listings-parallax.jpg') }}" data-color="rgba(48, 48, 48, 1)"
	data-color-opacity="0.8" data-img-width="800" data-img-height="505">
	<div id="titlebar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Add New Property</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>Add New Property</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		{% include 'users/_partial/menu.html.twig' %}
		{{ form_start(form) }}
		<div class="col-md-9">
			<div class="submit-page">
				<!-- Section -->
				<div class="utf-submit-page-inner-box">
					<h3>Property Basic Information</h3>
					<div class="content with-padding">

						<div class="col-md-6">
							<h5>Titre de votre promotion</h5>
							{{ form_widget(form.Title) }}
						</div>
						<div class="col-md-6">
							<h5>Proposez vous un rabais %</h5>
							{{ form_widget(form.Discount) }}
						</div>
						<div class="col-md-6">
							<h5>petite description</h5>
							{{ form_widget(form.ShortDescription) }}
							<span id="characters"
								style="color:#999;color: #999;position: absolute;bottom: 15px;right: 55px;">0</span>
							<span style="color:#999;color: #999;position: absolute;bottom: 15px;right: 30px;">/25</span>
						</div>

						<div class="col-md-6">
							<h5>Grande descriptin</h5>
							{{ form_widget(form.LongDescription) }}
						</div>
					</div>
				</div>
				<!-- Section / End -->

				<!-- Section -->
				<div class="utf-submit-page-inner-box">
					<h3>Gallerie photo</h3>
					<div class="content with-padding">
						<div class="col-md-12 submit-section">
							<div class="dropzone"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="utf-pricing-container-area margin-top-5">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="plan">
								<div class="utf-plan-price">
									<h3>PRENIUM</h3>
									<span class="value">$59<sub>/Par Month</sub></span> <span class="period">Business
										User Membership for 60 days</span>
								</div>
								<div class="utf-plan-features">
									<ul>
										<li>One Time Fee</li>
										<li>One Listing</li>
										<li>60 Days Availability</li>
										<li>Featured In Search Results</li>
										<li>Limited Support</li>
										<li>24/7 Support</li>
									</ul>
									<a class="button border" href="add-new-property.html">Purchase Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="plan">
								<div class="utf-plan-price">
									<h3>GOLD</h3>
									<span class="value">$59<sub>/Par Month</sub></span> <span class="period">Business
										User Membership for 60 days</span>
								</div>
								<div class="utf-plan-features">
									<ul>
										<li>One Time Fee</li>
										<li>One Listing</li>
										<li>60 Days Availability</li>
										<li>Featured In Search Results</li>
										<li>Limited Support</li>
										<li>24/7 Support</li>
									</ul>
									<a class="button border" href="add-new-property.html">Purchase Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="plan featured">
								<div class="utf-listing-badges-item"> <span class="featured">Featured</span> </div>
								<div class="utf-plan-price">
									<h3>SILVER</h3>
									<span class="value">$89<sub>/Par Month</sub></span> <span class="period">Premium
										User Membership for 180 days</span>
								</div>
								<div class="utf-plan-features">
									<ul>
										<li>One Time Fee</li>
										<li>One Listing</li>
										<li>180 Days Availability</li>
										<li>Featured In Search Results</li>
										<li>Limited Support</li>
										<li>24/7 Support</li>
									</ul>
									<a class="button border" href="add-new-property.html">Purchase Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="plan">
								<div class="utf-plan-price">
									<h3>GRATUIT</h3>
									<span class="value">$99<sub>/Par Month</sub></span> <span class="period">Platinum
										User Membership for 365 days</span>
								</div>
								<div class="utf-plan-features">
									<ul>
										<li>One Time Fee</li>
										<li>One Listing</li>
										<li>365 Days Availability</li>
										<li>Featured In Search Results</li>
										<li>Limited Support</li>
										<li>24/7 Support</li>
									</ul>
									<a class="button border" href="add-new-property.html">Purchase Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="add-new-property.html" class="utf-centered-button button">Submit Property</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
</div>
{% endblock %}
{% block javascript %}
	<script>
		$('#submit_announcement_ShortDescription').keyup(updateCount);
		$('#submit_announcement_ShortDescription').keydown(updateCount);

		function updateCount() {
			var cs = [25 + $(this).val().length];
			$('#characters').text(cs);
		}
	</script>
	<script src="{{ asset('scripts/dropzone.js') }}"></script> 
	<script>
        // init,configure dropzone
        Dropzone.autoDiscover = false;
        let dropzone_default = new Dropzone(".dropzone", {
            url: '/users/submit/api' ,
            maxFiles: 6,
            dictMaxFilesExceeded: 'Only 1 Image can be uploaded',
            acceptedFiles: 'image/*',
            maxFilesize: 8,  // in Mb
            addRemoveLinks: true,
            init: function () {
                this.on("maxfilesexceeded", function(file) {
                    this.removeFile(file);
                });
                this.on("sending", function(file, xhr, formData) {
                    // send additional data with the file as POST data if needed.
                     alet(formData.append("key", "value"));
                });
                this.on("success", function(file, response) {
                    if (response.uploaded) 
                        alert('File Uploaded: ' + response.fileName);
                });
            }
        });
    </script>
	
{% endblock %}