<section class="fullwidth" data-background-color="#ffffff" style="margin-top:40px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-md-3 col-sm-6">
                    <a href="listings-list-with-sidebar.html" class="img-box">
                        <img src="{{ AllAdPictures[3].src }}" alt="" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="listings-list-with-sidebar.html" class="img-box">
                        <img src="{{ AllAdPictures[4].src }}" alt="" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="listings-list-with-sidebar.html" class="img-box">
                        <img src="{{ AllAdPictures[5].src }}" alt="" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="listings-list-with-sidebar.html" class="img-box">
                        <img src="{{ AllAdPictures[6].src }}" alt="" />
                    </a>
                </div>
            </div>



            <div class="col-md-6 col-sm-6">
                <a href="listings-list-with-sidebar.html" class="img-box">
                    <img src="{{ AllAdPictures[7].src }}" alt="" />

                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="listings-list-with-sidebar.html" class="img-box">
                    <img src="{{ AllAdPictures[8].src }}" alt="" />
                </a>
            </div>
        </div>
    </div>
</section>