<section class="fullwidth" data-background-color="#ffffff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="utf-section-headline-item centered margin-top-0">
                    <div class="utf-headline-display-inner-item"></div>
                    <p class="utf-slogan-text">
                    </p>
                </div>
            </div>
            <!-- hiden picture from >sm -->
            <div class="visible hidden-xs hidden-sm col-sm-6 col-md-3 col-lg-3 col-xl-3 topad--spacing need-pt-3">
                <a rel="nofollow" href="{{ AllAdPictures[0].url }}" class="img-box">
                    <img src="{{ asset('') }}{{ AllAdPictures[0].src }}" alt="" />
                </a>
            </div>
            <!-- end -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 img-w-visible-xs">
                <a rel="nofollow" href="{{ AllAdPictures[1].url }}" class="img-box">
                    <img src="{{ asset('img/announcement/new.png') }}{# {{ asset('') }}{{ AllAdPictures[1].src }} #}" alt="" />
                </a>
            </div>

            <div class="hidden visible-xs visible-sm col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 img-w-visible-xs">
                <a rel="nofollow" href="{{ AllAdPictures[0].url }}" class="img-box">
                    <img src="{{ asset('') }}{{ AllAdPictures[0].src }}" alt="" />
                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 topad--spacing need-pt-3 img-w-visible-xs">
                <a rel="nofollow" href="{{ AllAdPictures[2].url }}" class="img-box">
                    <img src="{{ asset('') }}{{ AllAdPictures[2].src }}" alt="" />
                </a>
            </div>

        </div>
    </div>
</section>
