<section class="fullwidth" data-background-color="#ffffff">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
          <div class="utf-headline-display-inner-item">{% trans %}NOS DERNIERES OFFRES{% endtrans %}</div>
          <p class="utf-slogan-text margin-bottom-40"></p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="carousel">
          {% for NewOffert in NewOffert %}
          <div class="utf-carousel-item-area">
            <div class="utf-listing-item" style="border: 1px solid #b9b9b9;">
              <a href="{{ path('site_product', {'idcat':NewOffert.Category.slug, 'id':NewOffert.Id, 'slug':NewOffert.Slug}) }}" class="utf-smt-listing-img-container">
                <div class="utf-listing-badges-item">

                  {% if NewOffert.options == 1 %}
                    <span class="featured">PREMIUM</span>
                  {% endif %}
                  {% if NewOffert.options == 2 %}
                    <span class="featured">GOLD</span>
                  {% endif %}
                  {% if NewOffert.options == 3 %}
                    <span class="featured">SILVER</span>
                  {% endif %}

                </div>
                <div class="utf-listing-img-content-item"></div>
                <div class="utf-listing-carousel-item">
                  {#  TODO : change with dynamic imgs #}
                  <div><img src="{{ asset('images/listing-01.jpg') }}" alt=""></div>
                </div>
              </a>
              <div class="utf-listing-content">
                <div class="utf-listing-title">
                  <span class="utf-listing-price">
                    {% if NewOffert.Discount is defined and NewOffert.Discount %}
                      {{ NewOffert.Discount }} %
                    {% else %}
                      {{ NewOffert.promoTitle }}
                    {% endif %} 
                  </span>
                  <h4><a class="oneline-text" href="{{ path('site_product', {'idcat':NewOffert.Category.slug, 'id':NewOffert.Id, 'slug':NewOffert.Slug}) }}">{{ NewOffert.Title }}</a></h4>
                </div>
                <div class="utf-listing-features annoncement">
                  <p class="threelines-text">{{ NewOffert.ShortDescription }}</p>
                </div>
                <div class="utf-listing-user-info text-center"><a class="offer" href="{{ path('site_product', {'idcat':NewOffert.Category.slug, 'id':NewOffert.Id, 'slug':NewOffert.Slug}) }}">
                  Voir l'offre</a></div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>

</section>