<section class="fullwidth" data-background-color="#ffffff">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-top-50">
                <div class="utf-section-headline-item centered ">
                    <div class="utf-headline-display-inner-item" style="position: unset !important;">{% trans %}Offre premium{% endtrans %}</div>
                </div>
            </div>
        </div>

        <div id="mobileTabs" class="col-md-12" style="display: none;">
            {%  for groupeOfferts in groupedOfferts %}
                <div class="row">
                    <div class="col-md-12 titleCentered submit-page {{ loop.index == 1 ? '' : 'margin-top-25' }}"><h3 class="">{{ groupeOfferts.category }}</h3></div>
                    <div class="carousel">
                        {% for PreniumOffert in groupeOfferts.annonces %}
                            {% include 'site/home_page/_partials/mignature/annoucement.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% set activ = random(8) %}


        <div id="webTabs" class="margin-top-60" style="display: none;">
            <ul class="tabs-nav">
                {%  for groupeOfferts in groupedOfferts %}
                    <li class="{{ loop.index > 4 ? 'hiddenweb' : '' }} {% if activ == loop.index %}active{% endif %}" ><a style="white-space: nowrap;" href="#webTabs{{ loop.index }}">{{ groupeOfferts.category }}</a></li>
                {% endfor %}
            </ul>
            <div class="tabs-container">
                {%  for groupeOfferts in groupedOfferts %}
                    <div class="tab-content {{ loop.index > 4 ? 'hidden' : '' }}" id="webTabs{{ loop.index }}">
                        <div class="carousel">
                            {% for PreniumOffert in groupeOfferts.annonces %}
                                {% include 'site/home_page/_partials/mignature/annoucement.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="tabletteTabs" style="display: none">
            <ul class="tabs-nav">
                {%  for groupeOfferts in groupedOfferts %}
                    {% if loop.index > 4 %}
                        <li {% if activ == loop.index %}class="active"{% endif %}><a style="white-space: nowrap;" href="#tabletteTabs{{ loop.index }}">{{ groupeOfferts.category }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tabs-container">
                {%  for groupeOfferts in groupedOfferts %}
                    {% if loop.index > 4 %}
                        <div class="tab-content" id="tabletteTabs{{ loop.index }}">
                            <div class="carousel">
                                {% for PreniumOffert in groupeOfferts.annonces %}
                                    {% include 'site/home_page/_partials/mignature/annoucement.html.twig' %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</section>