{% extends 'base.html.twig' %}

{% block title %}Hello MyHistoryController!{% endblock %}

{% block body %}


  
  <!-- Content -->
  <div class="container margin-top-25">
      <div class="row">
          <div class="col-md-12">
              <style>
                  #breadcrumbs ul li:before{
                      border-left: 5px solid #a3a3a3 !important;
                  }
              </style>
              <nav id="breadcrumbs" style="left: 0px;right: unset;">
                  <ul>
                      <li><a href="{{ path('site_home_page') }}">Home</a></li>
                      <li>History</li>
                  </ul>
              </nav>

              <h2 style="float: right;">History</h2>
          </div>
      </div>
    <div class="row">       
      <!-- Widget -->
      {% include 'users/_partial/menu.html.twig' %}
      <div class="col-md-9">
        <table class="manage-table responsive-table">
          <tr>
            <th>Property</th>
            <th>Date</th>
            <th style="text-align:right">Action</th>
          </tr>
          <!-- Item #1 -->
          <tr>
            <td class="utf-title-container"><img src="{{ asset('') }}images/listing-02.jpg" alt="">
              <div class="title">
                <h4><a href="#">Renovated Luxury Apartment</a></h4>
                <span>2021 San Pedro, Los Angeles</span> <span class="table-property-price">$20,000/mo</span> 
			  </div>
			</td>
            <td class="utf-expire-date">12 Jan, 2021</td>
            <td class="action">
			    <a href="#" class="view tooltip left" title="View"><i class="icon-feather-eye"></i></a>
				<a href="#" class="edit tooltip left" title="Edit"><i class="icon-feather-edit"></i></a> 
				<a href="#" class="delete tooltip left" title="Delete"><i class="icon-feather-trash-2"></i></a>
			</td>
          </tr>
          <!-- Item #2 -->
          <tr>
            <td class="utf-title-container"><img src="{{ asset('') }}images/listing-05.jpg" alt="">
              <div class="title">
                <h4><a href="#">Renovated Luxury Apartment</a></h4>
                <span>2021 San Pedro, Los Angeles</span> <span class="table-property-price">$20,000/mo</span> 
			  </div>
			</td>
            <td class="utf-expire-date">12 Jan, 2021</td>
            <td class="action">
				<a href="#" class="view tooltip left" title="View"><i class="icon-feather-eye"></i></a>
				<a href="#" class="edit tooltip left" title="Edit"><i class="icon-feather-edit"></i></a> 
				<a href="#" class="delete tooltip left" title="Delete"><i class="icon-feather-trash-2"></i></a>
			</td>
          </tr>
          <!-- Item #3 -->
          <tr>
            <td class="utf-title-container"><img src="{{ asset('') }}images/listing-04.jpg" alt="">
              <div class="title">
                <h4><a href="#">Renovated Luxury Apartment</a></h4>
                <span>2021 San Pedro, Los Angeles</span> <span class="table-property-price">$20,000/mo</span> 
			  </div>
			</td>
            <td class="utf-expire-date">12 Jan, 2021</td>
            <td class="action">
				<a href="#" class="view tooltip left" title="View"><i class="icon-feather-eye"></i></a>
				<a href="#" class="edit tooltip left" title="Edit"><i class="icon-feather-edit"></i></a> 
				<a href="#" class="delete tooltip left" title="Delete"><i class="icon-feather-trash-2"></i></a>
			</td>
          </tr>
          <!-- Item #4 -->
          <tr>
            <td class="utf-title-container"><img src="{{ asset('') }}images/listing-06.jpg" alt="">
              <div class="title">
                <h4>
                    <a href="#">
                        Renovated Luxury Apartment
                    </a>
                </h4>
                <span>2021 San Pedro, Los Angeles</span> <span class="table-property-price">$20,000/mo</span> 
			  </div>
			</td>
            <td class="utf-expire-date">12 Jan, 2021</td>
            <td class="action">
				<a href="#" class="view tooltip left" title="View"><i class="icon-feather-eye"></i></a>
				<a href="#" class="edit tooltip left" title="Edit"><i class="icon-feather-edit"></i></a> 
				<a href="#" class="delete tooltip left" title="Delete"><i class="icon-feather-trash-2"></i></a>
			</td>
          </tr>
        </table>
        <a href="add-new-property.html" class="utf-centered-button margin-top-30 button">Submit New Property</a> 
	  </div>
    </div>
  </div>
  


{% endblock %}
