{% extends 'base.html.twig' %}

{% block title %}Hello MyHistoryController!{% endblock %}

{% block body %}


  
  <!-- Content -->
  <div class="container margin-top-25">
      <div class="row">
          <div class="col-md-12">
              <style>
                  #breadcrumbs ul li:before{
                      border-left: 5px solid #a3a3a3 !important;
                  }
              </style>
              <nav id="breadcrumbs" style="left: 0px;right: unset;">
                  <ul>
                      <li><a href="{{ path('site_home_page') }}">Home</a></li>
                      <li>History</li>
                  </ul>
              </nav>

              <h2 style="float: right;">History</h2>
          </div>
      </div>
    <div class="row">       
      <!-- Widget -->
      {% include 'users/_partial/menu.html.twig' %}
      <div class="col-md-9">
        <table class="manage-table responsive-table">
          <tr>
            <th>Property</th>
            <th>Date de création</th>
            <th style="text-align:right">Action</th>
          </tr>
          <!-- Item #1 -->

          {% for mesAnnonce in mesAnnonces%}
          <tr>
            <td class="utf-title-container"><img src="{{ asset('img/announcement/') }}{{ mesAnnonce.picture.first ? mesAnnonce.picture.first.Name : '' }}" alt="">
              <div class="title">
                <h4><a href="#">
                        {{ mesAnnonce.title ? mesAnnonce.title : '' }}
                        {{ mesAnnonce.titlediscount ? mesAnnonce.titlediscount : '' }}
                    </a>
                </h4>
                <span>{{ mesAnnonce.shortDescription}}</span>
                <span class="table-property-price">
                    {{ mesAnnonce.discount ? '-'~mesAnnonce.discount~'%' : '' }}
                    {{ mesAnnonce.promoTitle ? mesAnnonce.promoTitle : '' }}
                </span>
			  </div>
			</td>
            <td class="utf-expire-date">{{ mesAnnonce.createdAt|date }}</td>
            <td class="action">
			    <a href="#" class="view tooltip left" title="View"><i class="icon-feather-eye"></i></a>
				<a href="#" class="edit tooltip left" title="Edit"><i class="icon-feather-edit"></i></a> 
				<a href="#" class="delete tooltip left" title="Delete"><i class="icon-feather-trash-2"></i></a>
			</td>
          </tr>
          {% endfor %}


        </table>
	  </div>
    </div>
  </div>
  


{% endblock %}
