{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

  <!-- Titlebar
  <div class="parallax titlebar" data-background="{{ asset('') }}images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)"
       data-color-opacity="0.8" data-img-width="800" data-img-height="505">
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>My Profile</h2>

            <nav id="breadcrumbs">
              <ul>
                <li><a href="{{ path('site_home_page') }}">Home</a></li>
                <li>My Profile</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
<!-- Content -->
<div class="container margin-top-25">
  <div class="row">
    <div class="col-md-12">
      <style>
        #breadcrumbs ul li:before{
          border-left: 5px solid #a3a3a3 !important;
        }
      </style>
      <nav id="breadcrumbs" style="left: 0px;right: unset;">
        <ul>
          <li><a href="{{ path('site_home_page') }}">Home</a></li>
          <li>My Profile</li>
        </ul>
      </nav>

      <h2 style="float: right;">My Profile</h2>
    </div>
  </div>
  {{ form_start(form) }}
  <div class="row">
    <!-- Widget -->
    <div class="col-md-3">
      <div class="margin-bottom-20">
        <div class="utf-edit-profile-photo-area"> <img id="imgprofile" src="{{ asset('img/logo/') }}{{ app.user.Picture ? app.user.Picture : 'profile.png' }}" alt="">
          <div class="utf-change-photo-btn-item">
            <div class="utf-user-photo-upload">
              <span>
                <i class="fa fa-upload"></i>
                {% trans %}Téléchargement du logo{% endtrans %}
              </span>
              {{ form_widget(form.image) }}
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="sidebar margin-top-20">
        <div class="user-smt-account-menu-container">
            {% include 'users/_partial/navigation.html.twig' %}
        </div>
      </div>
      <div class="widget utf-sidebar-widget-item">
        <div class="utf-detail-banner-add-section">
          <a href="#"><img src="{{ asset('') }}images/banner-add-2.jpg" alt="banner-add-2"></a>
        </div>
      </div>
    </div>
    <div class="col-md-9">

      <div class="utf-user-profile-item">

        <div class="utf-user-profile-item">
          <div class="utf-submit-page-inner-box">
            <h3>Mes information</h3>
            <div class="content with-padding">
              <div class="col-md-6">
                <label>Nom de la société ou établissement</label>
                {{ form_widget(form.Compagny) }}
              </div>
              <div class="col-md-6 {{ isView ? 'inputdisabled' : '' }}">
                <label>Civilité</label>
                {{ form_widget(form.civilite) }}
              </div>
              <div class="col-md-5">
                <label>Date de naissance</label>
                {{ form_widget(form.dateNaissance) }}
              </div>
              <div class="col-md-5">
                <label>Téléphone </label>
                {{ form_widget(form.phoneNumber) }}
              </div>
              <div class="col-md-2">
                <label>Affiché </label>
                {{ form_widget(form.afficheTelephone) }}
              </div>
              <div class="col-md-6">
                <label>Nom du responsable</label>
                {{ form_widget(form.Name) }}
              </div>
              <div class="col-md-6">
                <label>Prénom</label>
                {{ form_widget(form.FirstName) }}
              </div>
              <div class="col-md-6">
                <label>Adresse</label>
                {{ form_widget(form.GooglePlaceID) }}
              </div>
              <div class="col-md-6">
                <label>Mon site internet</label>
                {{ form_widget(form.Url) }}
              </div>
              {{ form_widget(form.Address) }}
              {{ form_widget(form.CodePost) }}
              {{ form_widget(form.Department) }}
              {{ form_widget(form.Latitude) }}
              {{ form_widget(form.Longitude) }}
            </div>
          </div>

          <div class="utf-submit-page-inner-box">
            <h3>Horaire d'ouverture</h3>
            <div class="content with-padding">

              <!-- horaire ligne -->
              <div class="row ligneHoraire margin-left-0">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Lundi</label>
                  <span class="switch {{ isView ? 'disabled' : '' }}">
                      <input {{ app.user.openHoraire('lundi') ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalLundi">
                      <label for="switch-normalLundi">Ouvert</label>
                  </span>
                </div>
                <div class="col-md-9">
                  <div class="row horaireBlock">
                    {{ form_widget(form.horaires.LundiMatinOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.LundiMidiFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="add-new-horaire">Ajouter</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.horaires.LundiAPMOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.LundiAPMFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire margin-left-0">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Mardi</label>
                  <span class="switch {{ isView ? 'disabled' : '' }}">
                      <input {{ app.user.openHoraire('mardi') ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalMardi">
                      <label for="switch-normalMardi">Ouvert</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.horaires.MardiMatinOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.MardiMidiFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="add-new-horaire">Ajouter</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible" >
                    {{ form_widget(form.horaires.MardiAPMOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.MardiAPMFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire margin-left-0">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Mercredi</label>
                  <span class="switch {{ isView ? 'disabled' : '' }}">
                      <input {{ app.user.openHoraire('mercredi') ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalMercredi">
                      <label for="switch-normalMercredi">Ouvert</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.horaires.MercrediMatinOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.MercrediMidiFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="add-new-horaire">Ajouter</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.horaires.MercrediAPMOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.MercrediAPMFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire margin-left-0">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Jeudi</label>
                  <span class="switch {{ isView ? 'disabled' : '' }}">
                      <input {{ app.user.openHoraire('jeudi') ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalJeudi">
                      <label for="switch-normalJeudi">Ouvert</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.horaires.JeudiMatinOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.JeudiMidiFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="add-new-horaire">Ajouter</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.horaires.JeudiAPMOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.JeudiAPMFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire margin-left-0">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Vendredi</label>
                  <span class="switch {{ isView ? 'disabled' : '' }}">
                      <input {{ app.user.openHoraire('vendredi') ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalVendredi">
                      <label for="switch-normalVendredi">Ouvert</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.horaires.VendrediMatinOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.VendrediMidiFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="add-new-horaire">Ajouter</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.horaires.VendrediAPMOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.VendrediAPMFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire margin-left-0">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Samedi</label>
                  <span class="switch {{ isView ? 'disabled' : '' }}">
                      <input {{ app.user.openHoraire('samedi') ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalSamedi">
                      <label for="switch-normalSamedi">Ouvert</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.horaires.SamediMatinOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.SamediMidiFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="add-new-horaire">Ajouter</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.horaires.SamediAPMOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.SamediAPMFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire margin-left-0">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Dimanche</label>
                  <span class="switch {{ isView ? 'disabled' : '' }}">
                      <input {{ app.user.openHoraire('dimanche') ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalDimanche">
                      <label for="switch-normalDimanche">Ouvert</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.horaires.DimancheMatinOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.DimancheMidiFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="add-new-horaire">Ajouter</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.horaires.DimancheAPMOuverture,{'attr': {'disabled':isView}}) }} <span class="dash">_</span> {{ form_widget(form.horaires.DimancheAPMFermeture,{'attr': {'disabled':isView}}) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
            </div>
          </div>

          <div class="utf-submit-page-inner-box">
            <h3>{% trans %}Option service de livraison{% endtrans %}</h3>
            <div class="content with-padding">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="profiletext">Option pour les restaurants <i class="fa fa-question-circle"></i></h5>
                  <div class="row">
                    <div class="col-md-12 parentUrlPartner">
                      <span class="switch {{ isView ? 'disabled' : '' }}">
                        <input {{  app.user.delivery and app.user.delivery.hubereat ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalhuber-eat">
                        <label for="switch-normalhuber-eat">Je travaille avec  huber-eat.ch</label>
                      </span>
                      {{ form_widget(form.delivery.hubereat,{'attr': {'disabled':isView}}) }}
                    </div>
                    <div class="col-md-12 parentUrlPartner">
                      <span class="switch {{ isView ? 'disabled' : '' }}">
                        <input {{  app.user.delivery and app.user.delivery.est ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalestch">
                        <label for="switch-normalestch">Je travaille avec  est.ch</label>
                      </span>
                      {{ form_widget(form.delivery.est,{'attr': {'disabled':isView}}) }}
                    </div>
                    <div class="col-md-12 parentUrlPartner">
                      <span class="switch {{ isView ? 'disabled' : '' }}">
                        <input {{  app.user.delivery and app.user.delivery.smood ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normalsmoodch">
                        <label for="switch-normalsmoodch">Je travaille avec  smood.ch</label>
                      </span>
                      {{ form_widget(form.delivery.smood,{'attr': {'disabled':isView}}) }}
                    </div>
                    <div class="col-md-12 parentUrlPartner">
                      <span class="switch {{ isView ? 'disabled' : '' }}">
                        <input {{  app.user.delivery and app.user.delivery.deindeal ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normaldeindeal">
                        <label for="switch-normaldeindeal">Je travaille avec  deindeal.ch</label>
                      </span>
                      {{ form_widget(form.delivery.deindeal,{'attr': {'disabled':isView}}) }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h5 class="profiletext">Service de livraison <i class="fa fa-question-circle"></i></h5>
                  <div class="row">
                    <div class="col-md-12 parentUrlPartner">
                      <span class="switch {{ isView ? 'disabled' : '' }}">
                        <input {{ app.user.delivery and app.user.delivery.service ? 'checked' : '' }} type="checkbox" class="switch s-check" id="switch-normallivraison">
                        <label for="switch-normallivraison">J'ai un service de livraison</label>
                      </span>
                      {{ form_widget(form.delivery.service,{'attr': {'disabled':isView}}) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">

              {% if not app.user.profileCreated() %}
              <div class="col-md-12 text-right">
                  <button type="submit" class="button margin-top-0 margin-bottom-20 bg-green">
                    Je crée mon compte professionnel
                  </button>
              </div>
              {% else %}

                {% if isView %}
                <div class="col-md-6">
                  <a href="{{ path('users_profile') }}" class="button margin-top-0 margin-bottom-20 bg-green">Je modifie mon compte</a>
                </div>
                <div class="col-md-6 text-right">
                  <button disabled type="submit" class="button margin-top-0 margin-bottom-20 bg-green disabled">Enregistrer les informations</button>
                </div>
                {% else %}
                <div class="col-md-12 text-right">
                  <button type="submit" class="button margin-top-0 margin-bottom-20 bg-green">Enregistrer les informations</button>
                </div>
                {% endif %}

              {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>

  {{ form_end(form) }}
  {% endblock %}


  {% block javascript %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQof89PvlorQqi57C4mXWVhLXCSm1uwpQ&libraries=places&callback=initAutocomplete" async defer />
  <script>
    var placeSearch, autocomplete;
    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };
    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
              /** @type {!HTMLInputElement} */(document.getElementById('profile_GooglePlaceID')),
              { types: ['geocode'] });
      autocomplete.addListener('place_changed', fillInAddress);
    }
    function fillInAddress() {
      var place = autocomplete.getPlace();
      document.getElementById('profile_Latitude').value = place.geometry.location.lat();
      document.getElementById('profile_Longitude').value = place.geometry.location.lng();
      var components = place.address_components;
      var street = null;
      for (var i = 0, component; component = components[i]; i++) {
        console.log(component);
        if (component.types[0] == 'route') {
          document.getElementById('profile_Address').value = component['long_name'];
        }
        if (component.types[0] == 'postal_code') {
          document.getElementById('profile_CodePost').value = component['long_name'];
        }
        if (component.types[0] == 'administrative_area_level_1') {
          document.getElementById('profile_Department').value = component['long_name'];
        }
        if (component.types[0] == 'locality') {
          document.getElementById('profile_City').value = component['long_name'];
        }
      }
    }
    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
  </script>

  <script>
    function InitChangeHoraire(){
      $('.ligneHoraire').each(function (){
        var el = $(this);
        el.find('.s-check').each(function (){
          var check = $(this);
          if (check.is(':checked')){
            check.next().html('Ouvert');
            check.closest('.horaireBlock').next().css('display','block');
          }
          else{
            check.closest('.horaireBlock').next().css('display','none');
            check.next().html('Fermé') ;
          }
        })
      })
    }
    InitChangeHoraire();
    $(document).on('change','.s-check',function(){
      InitChangeHoraire();
    });
    $(document).on('click','.remove-horaire',function(){
      $(this).parent().addClass('notVisible');
      $(this).closest('.ligneHoraire').find('.add-new-horaire').toggle();
    });
    $(document).on('click','.add-new-horaire',function(){
      $(this).toggle();
      $(this).closest('.ligneHoraire').find('.part2').removeClass('notVisible');
    });

    function InitProfileLinks(){
      $('.parentUrlPartner').each(function (){
        var el = $(this);
        el.find('.s-check').each(function (){
          var check = $(this);
          if (check.is(':checked')){
            el.find('.urlPartner').css('display','block');
          }
          else{
            el.find('.urlPartner').css('display','none');
          }
        })
      })
    }
    InitProfileLinks();
    $(document).on('change','.parentUrlPartner .s-check',function(){
      InitProfileLinks();
    });

  </script>
{% endblock %}