{% extends 'base.html.twig' %}

{% block title %}Hello profileController!{% endblock %}

{% block body %}

  <!-- Titlebar -->
  <div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)"
       data-color-opacity="0.8" data-img-width="800" data-img-height="505">
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>My Profile</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li>My Profile</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Content -->
<div class="container">
  {{ form_start(form) }}
  <div class="row">
    <!-- Widget -->
    <div class="col-md-3">
      <div class="margin-bottom-20">
        <div class="utf-edit-profile-photo-area"> <img src="{{ asset('images/agent-02.jpg') }}" alt="">
          <div class="utf-change-photo-btn-item">
            <div class="utf-user-photo-upload"> <span><i class="fa fa-upload"></i>{% trans %}Téléchargement du logo{%
                  endtrans %}</span>
              {{ form_widget(form.image) }}
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="sidebar margin-top-20">
        <div class="user-smt-account-menu-container">
          <ul class="user-account-nav-menu">
            <li><a href="my-profile.html" class="current"><i class="sl sl-icon-user"></i> My Profile</a></li>
            <li><a href="my-bookmarks.html"><i class="sl sl-icon-star"></i> Bookmark Listing</a></li>
            <li><a href="my-properties.html"><i class="sl sl-icon-docs"></i> My Property</a></li>
            <li><a href="add-new-property.html"><i class="sl sl-icon-action-redo"></i> New Property</a></li>
            <li><a href="change-password.html"><i class="sl sl-icon-lock"></i> Change Password</a></li>
            <li><a href="#"><i class="sl sl-icon-power"></i> Log Out</a></li>
          </ul>
        </div>
      </div>
      <div class="widget utf-sidebar-widget-item">
        <div class="utf-detail-banner-add-section">
          <a href="#"><img src="{{ asset('') }}images/banner-add-2.jpg" alt="banner-add-2"></a>
        </div>
      </div>
    </div>
    <div class="col-md-9">

      <div class="utf-user-profile-item">
        <div class="utf-submit-page-inner-box">
          <h3>Mon activité</h3>
          <div class="content with-padding">
            <div class="col-md-6">
              <label>Votre catégorie</label>
              {{ form_widget(form.category) }}
            </div>
            <div class="col-md-6" id="profile_sub_category">
              <label>Votre sous catégorie</label>
              {# {{ form_widget(form.sub_category) }} #}
              <p id="profile_sub_category"></p>
            </div>
          </div>
        </div>


        <div class="utf-user-profile-item">
          <div class="utf-submit-page-inner-box">
            <h3>Mes information</h3>
            <div class="content with-padding">
              <div class="col-md-6">
                <label>Nom</label>
                {{ form_widget(form.Name) }}
              </div>
              <div class="col-md-6">
                <label>Prénom</label>
                {{ form_widget(form.FirstName) }}
              </div>
              <div class="col-md-6">
                <label>Entreprise</label>
                {{ form_widget(form.Compagny) }}
              </div>
              <div class="col-md-6">
                <label>Adresse</label>
                {{ form_widget(form.GooglePlaceID) }}
              </div>
              <div class="col-md-6">
                <label>Mon site internet</label>
                {{ form_widget(form.Url) }}
              </div>
              <!--
              <div class="col-md-6">
                <label>Adresse</label>
                <input value="info@example.com" type="text">
              </div>
              -->
            </div>
          </div>

          <div class="utf-submit-page-inner-box">
            <h3>Horaire d'ouverture</h3>
            <div class="content with-padding">




              <!-- horaire ligne -->
              <div class="row ligneHoraire">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Lundi</label>
                  <span class="switch">
                      <input type="checkbox" class="switch s-check" id="switch-normalLundi">
                      <label for="switch-normalLundi">Overt</label>
                    </span>
                </div>
                <div class="col-md-9">
                  <div class="row horaireBlock">
                    {{ form_widget(form.LundiMatinOuverture) }} <span class="dash">_</span> {{ form_widget(form.LundiMidiFermeture) }}
                    <a class="add-new-horaire">Ajouter des horaires</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.LundiAPMOuverture) }} <span class="dash">_</span> {{ form_widget(form.LundiAPMFermeture) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Mardi</label>
                  <span class="switch">
                      <input type="checkbox" class="switch s-check" id="switch-normalMardi">
                      <label for="switch-normalMardi">Overt</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.MardiMatinOuverture) }} <span class="dash">_</span> {{ form_widget(form.MardiMidiFermeture) }}
                    <a class="add-new-horaire">Ajouter des horaires</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible" >
                    {{ form_widget(form.MardiAPMOuverture) }} <span class="dash">_</span> {{ form_widget(form.MardiAPMFermeture) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Mercredi</label>
                  <span class="switch">
                      <input type="checkbox" class="switch s-check" id="switch-normalMercredi">
                      <label for="switch-normalMercredi">Overt</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.MercrediMatinOuverture) }} <span class="dash">_</span> {{ form_widget(form.MercrediMidiFermeture) }}
                    <a class="add-new-horaire">Ajouter des horaires</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.MercrediAPMOuverture) }} <span class="dash">_</span> {{ form_widget(form.MercrediAPMFermeture) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Jeudi</label>
                  <span class="switch">
                      <input type="checkbox" class="switch s-check" id="switch-normalJeudi">
                      <label for="switch-normalJeudi">Overt</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.JeudiMatinOuverture) }} <span class="dash">_</span> {{ form_widget(form.JeudiMidiFermeture) }}
                    <a class="add-new-horaire">Ajouter des horaires</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.JeudiAPMOuverture) }} <span class="dash">_</span> {{ form_widget(form.JeudiAPMFermeture) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Vendredi</label>
                  <span class="switch">
                      <input type="checkbox" class="switch s-check" id="switch-normalVendredi">
                      <label for="switch-normalVendredi">Overt</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.VendrediMatinOuverture) }} <span class="dash">_</span> {{ form_widget(form.VendrediMidiFermeture) }}
                    <a class="add-new-horaire">Ajouter des horaires</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.VendrediAPMOuverture) }} <span class="dash">_</span> {{ form_widget(form.VendrediAPMFermeture) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Samedi</label>
                  <span class="switch">
                      <input type="checkbox" class="switch s-check" id="switch-normalSamedi">
                      <label for="switch-normalSamedi">Overt</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.SamediMatinOuverture) }} <span class="dash">_</span> {{ form_widget(form.SamediMidiFermeture) }}
                    <a class="add-new-horaire">Ajouter des horaires</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.SamediAPMOuverture) }} <span class="dash">_</span> {{ form_widget(form.SamediAPMFermeture) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
              <!-- horaire ligne -->
              <div class="row ligneHoraire">
                <div class="col-md-3 margin-top-15 horaireBlock">
                  <label class="w-100">Dimanche</label>
                  <span class="switch">
                      <input type="checkbox" class="switch s-check" id="switch-normalDimanche">
                      <label for="switch-normalDimanche">Overt</label>
                    </span>
                </div>
                <div class="col-md-9 horaires">
                  <div class="row horaireBlock">
                    {{ form_widget(form.DimancheMatinOuverture) }} <span class="dash">_</span> {{ form_widget(form.DimancheMidiFermeture) }}
                    <a class="add-new-horaire">Ajouter des horaires</a>
                  </div>
                  <div class="row horaireBlock part2 notVisible">
                    {{ form_widget(form.DimancheAPMOuverture) }} <span class="dash">_</span> {{ form_widget(form.DimancheAPMFermeture) }}
                    <a class="remove-horaire">x</a>
                  </div>
                </div>
              </div>
              <!-- end horaire ligne -->
            </div>
          </div>


          <div class="utf-submit-page-inner-box">
            <h3>{% trans %}Service de livraison{% endtrans %}</h3>
            <div class="content with-padding">
              <div class="col-md-6">
                <label><i class="icon-brand-facebook"></i> huber-eat.ch</label>
                {{ form_widget(form.UberEat) }}
              </div>
              <div class="col-md-6">
                <label><i class="icon-brand-twitter"></i> est.ch</label>
                {{ form_widget(form.Eatch) }}
              </div>
              <div class="col-md-6">
                <label><i class="icon-brand-linkedin"></i> smood.ch</label>
                {{ form_widget(form.smood) }}
              </div>
              <div class="col-md-6">
                <label><i class="icon-brand-google"></i> deindeal.ch</label>
                {{ form_widget(form.dealdind) }}
              </div>
              <div class="col-md-6">
                <label><i class="icon-brand-pinterest"></i> J'ai un service de livraison</label>
                {{ form_widget(form.Perso) }}
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-12">
              <button class="utf-centered-button button margin-top-0 margin-bottom-20">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ form_widget(form.Address) }}
  {{ form_widget(form.CodePost) }}
  {{ form_widget(form.Department) }}
  {{ form_widget(form.Latitude) }}
  {{ form_widget(form.Longitude) }}
  {{ form_end(form) }}
</div>
  {% endblock %}


  {% block javascript %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQof89PvlorQqi57C4mXWVhLXCSm1uwpQ&libraries=places&callback=initAutocomplete" async defer></script>
  <script>
    var placeSearch, autocomplete;
    var componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };
    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
              /** @type {!HTMLInputElement} */(document.getElementById('profile_GooglePlaceID')),
              { types: ['geocode'] });
      autocomplete.addListener('place_changed', fillInAddress);
    }
    function fillInAddress() {
      var place = autocomplete.getPlace();
      document.getElementById('profile_Latitude').value = place.geometry.location.lat();
      document.getElementById('profile_Longitude').value = place.geometry.location.lng();
      var components = place.address_components;
      var street = null;
      for (var i = 0, component; component = components[i]; i++) {
        console.log(component);
        if (component.types[0] == 'route') {
          document.getElementById('profile_Address').value = component['long_name'];
        }
        if (component.types[0] == 'postal_code') {
          document.getElementById('profile_CodePost').value = component['long_name'];
        }
        if (component.types[0] == 'administrative_area_level_1') {
          document.getElementById('profile_Department').value = component['long_name'];
        }
        if (component.types[0] == 'locality') {
          document.getElementById('profile_City').value = component['long_name'];
        }
      }
    }
    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
  </script>
  <script>

    var $profile_category = $("#profile_category")
    var $token = $("#profile_token")

    $profile_category.change(function()
    {
      var $form = $(this).closest('form')
      var data = {}
      
      data[$token.attr('name')] = $token.val()
      data[$profile_category.attr('name')] = $profile_category.val()

      $.post([$form.attr('action')].data).then(function (response) 
      {

        $("#profile_sub_category").replaceWith(
                $(response).find("#profile_sub_category")
        )
      })

    })
  </script>


  <script>
    function InitChangeHoraire(){
      $('.ligneHoraire').each(function (){
        var el = $(this);
        el.find('.s-check').each(function (){
          var check = $(this);
          if (check.is(':checked')){
            check.next().html('Overt') ;
            check.closest('.horaireBlock').next().css('display','block');
          }
          else{
            check.closest('.horaireBlock').next().css('display','none');
            check.next().html('Fermé') ;
          }
        })
      })
    }
    InitChangeHoraire();
    $(document).on('change','.s-check',function(){
      InitChangeHoraire();
    });
    $(document).on('click','.remove-horaire',function(){
      $(this).parent().addClass('notVisible');
      $(this).closest('.ligneHoraire').find('.add-new-horaire').toggle();
    });
    $(document).on('click','.add-new-horaire',function(){
      $(this).toggle();
      $(this).closest('.ligneHoraire').find('.part2').removeClass('notVisible');
    });
  </script>
{% endblock %}