<div class="utf-carousel-item-area">
    <div class="utf-listing-item" style="border: 1px solid #333;">
        <a href="{{ path('site_product', {'idcat':PreniumOffert.Category.slug, 'id':PreniumOffert.Id, 'slug':PreniumOffert.Slug}) }}"
            class="utf-smt-listing-img-container">
            <div class="utf-listing-badges-item">
                {% if PreniumOffert.options == 0 %}
                <span class="featured">GOLD</span>
                {% endif %}
                {% if PreniumOffert.options == 1 %}
                <span class="featured">SILVER</span>
                {% endif %}
            </div>
            <div class="utf-listing-img-content-item">
            </div>
            <div class="utf-listing-carousel-item">
                <div><img src="{{ asset('') }}images/listing-01.jpg" alt=""></div>
            </div>
        </a>
        <div class="utf-listing-content">
            <div class="utf-listing-title">
                <span class="utf-listing-price">
                    {% if PreniumOffert.Discount is defined %}
                    {{ PreniumOffert.Discount }} %
                    {% else %}
                    {% trans %} Promotion {% endtrans %}
                    {% endif %}
                </span>
                <h4>
                    <a  class="oneline-text"
                        href="{{ path('site_product', {'idcat':PreniumOffert.Category.slug, 'id':PreniumOffert.Id, 'slug':PreniumOffert.Slug}) }}">{{
                        PreniumOffert.Title }}</a>
                </h4>
            </div>
            <div class="utf-listing-features annoncement">
                <p class="threelines-text">{{ PreniumOffert.ShortDescription }}</p>
            </div>
            <div class="utf-listing-user-info text-center">
                <a class="offer"
                    href="{{ path('site_product', {'idcat':PreniumOffert.Category.slug, 'id':PreniumOffert.Id, 'slug':PreniumOffert.Slug}) }}">
                    Voir l'offre</a>
            </div>
        </div>
    </div>
</div>