<!-- Header Container -->
<header id="header-container" class="fullwidth">
  <!-- Header -->
  <div id="header">
    <div class="container">
      <!-- Left Side Content -->
      <div class="left-side">
        <div id="logo"> <a href="{{ path('site_home_page') }}"><img src="{{ asset('img/site/logo.png') }}" width="208"
              height="70" alt="Zimboo"></a> </div>
        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button"> <span class="hamburger-box"> <span
                class="hamburger-inner"></span> </span> </button>
        </div>

        <!-- Main Navigation -->
        <nav id="navigation" class="style-1">
          {% set allCategories = getCategories() %}
          <ul id="responsive">
            <li class="active navCategorie">
              <a>Choisissez votre Catégorie</a>
              <ul>
                {% for categorie in allCategories %}
                  <li>
                    <a href="{{ categorie.uri }}">{{ categorie.name }}</a>
                    {% if categorie.submenus|length != 0 %}
                      <ul>
                        {% for submenu in categorie.submenus %}
                          <li>
                            <a href="{{ submenu.uri }}">{{ submenu.name }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
            {% if app.user %}
              <li class="visible-xs"><a href="my-profile.html"><i class="sl sl-icon-user"></i> My Profile</a></li>
              <li class="visible-xs"><a href="my-bookmarks.html"><i class="sl sl-icon-star"></i> Bookmarks</a></li>
              <li class="visible-xs"><a href="my-properties.html"><i class="sl sl-icon-docs"></i> My Property</a></li>
              <li class="visible-xs"><a href="add-new-property.html"><i class="sl sl-icon-docs"></i> New Property</a></li>
              <li class="visible-xs"><a href="change-password.html"><i class="sl sl-icon-docs"></i> Change Password</a></li>
              <li class="visible-xs"><a href="index-2.html"><i class="sl sl-icon-power"></i> Log Out</a></li>
            {% else %}
            <li class="visible-xs"><a href="{{ path('app_login') }}" class="popup-with-zoom-anim log-in-button sign-in">
                <i class="icon-line-awesome-user"></i> <span>Se connecter</span></a></li>
            {% endif %}
          </ul>

        </nav>
        <!-- Main Navigation -->

        <div class="clearfix"></div>
      </div>
      <!-- Left Side Content / End -->

      <!-- Right Side Content / End -->
      <div class="right-side">
        <div class="header-widget">
          {% if app.user %}
<<<<<<< HEAD
          <div class="user-menu hidden-xs">
=======
          <div class="user-menu">
>>>>>>> b77446d261b587c25accde789f1563cd06777193
            <div class="user-name"><span><img src="{{ asset('images/agent-02.jpg') }}" alt=""></span>
              <div class="user-name-title">{{ app.user.Name }}!</div>
            </div>
            <ul>
              <li><a href="my-profile.html"><i class="sl sl-icon-user"></i> My Profile</a></li>
              <li><a href="my-bookmarks.html"><i class="sl sl-icon-star"></i> Bookmarks</a></li>
              <li><a href="my-properties.html"><i class="sl sl-icon-docs"></i> My Property</a></li>
              <li><a href="add-new-property.html"><i class="sl sl-icon-docs"></i> New Property</a></li>
              <li><a href="change-password.html"><i class="sl sl-icon-docs"></i> Change Password</a></li>
              <li><a href="index-2.html"><i class="sl sl-icon-power"></i> Log Out</a></li>
            </ul>
          </div>
          {% else %}
<<<<<<< HEAD
          <a href="#utf-signin-dialog-block" class="popup-with-zoom-anim log-in-button sign-in hidden-xs">
            <i class="icon-line-awesome-user"></i> <span>Se connecter</span></a>
          {% endif %}
          <a href="add-new-property.html" class="button border-success"><i class="icon-feather-plus-circle"></i><span>Mettre une annonce</span></a>
=======
          <a href="#utf-signin-dialog-block" class="popup-with-zoom-anim log-in-button sign-in">
            <i class="icon-line-awesome-user"></i> <span>Se connecter</span></a>
          {% endif %}
          <a href="add-new-property.html" class="button border-success"><i class="icon-feather-plus-circle"></i><span>Publier</span></a>
>>>>>>> b77446d261b587c25accde789f1563cd06777193

        </div>
      </div>
      <!-- Right Side Content / End -->
    </div>
  </div>
  <!-- Header / End -->
</header>
<div class="clearfix"></div>
<!-- Header Container / End -->